.grid-container {
  margin: 1%;
}

.dashboard-card {
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  right: 2.5%;
  bottom: 2.5%;

  &--nomovies {
    height: 50px;
  }

  .dashboard-card-content {
    justify-content: justify;
  }

  .dashboard-card-header {
    justify-content: center;
  }

  .dashboard-card-content-startTimes {
    display: inline;
  }
}
