.grid-content table,
.grid-content .mat-paginator,
.grid-content .mat-form-field {
  margin: auto;
  width: 65%;
}

.grid-filter .mat-form-field {
  font-size: 14px;
  margin-left: 17.5%;
  margin-top: 2%;
  width: 15%;
}
